{% extends 'main.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="container" >
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <div class="border bg-white p-3">
                        <h3 class="text-center">Login to Your Account</h3>
                        <p class="text-center small">Enter your username & password to login</p>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}


                            <input class="btn btn-warning btn-block" type="submit" value="Login">


                            <p class="small mb-0 text-center">Don't have account? <a href="{% url 'register' %}">Create an account</a></p>

                        </form>

                    </div>
                </div>
            </div>
    </div>
{% endblock %}