{% extends 'main.html' %}
{% block content %}


<div class="container mb-5 mt-2">
    <div class="jumbotron">
        <img style="width: 100%"
             src="https://peaceinsight.s3.amazonaws.com/media/images/OUT_NOW_2.2e16d0ba.fill-1440x500.png"
             alt="image not found">
        <div class="position-sticky">
            <h1 class="display-4 text-center">Password reset sent</h1>
            <hr>
            <p class="lead text-center">We’ve emailed you instructions for setting your password,
                if an account exists with the email you entered.</p>
            <p  class="lead text-center" >You should receive them shortly.</p>

            <p class="small mb-0 text-center">If you don’t receive an email, please make sure you’ve entered the address you registered with,
                and check your spam folder.</p>
            <hr>
        </div>
    </div>
</div>


{% endblock %}