{% extends 'main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST">
                    {% csrf_token %}
					<div id="user-info">
						<div class="form-field">
                            {{ customer_form.first_name }}
						</div>
                        <div class="form-field">
                            {{ customer_form.last_name }}
						</div>
                        <div class="form-field">
                            {{ customer_form.phone_number }}
						</div>
						<div class="form-field">
                            {{ customer_form.email }}
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
                        <div class="form-field">
                            {{ address_form.city }}
						</div>
                        <div class="form-field">
                            {{ address_form.zipcode }}
						</div>
                        <div class="form-field-large">
                            {{ address_form.address }}
						</div>
					</div>

					<hr>
					<input class="btn btn-warning btn-block" type="submit" value="Continue">
				</form>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>

                {% for item in items %}
				<div class="cart-row">
                    {% if item.product.image %}
                    <div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}" alt="no image"></div>
                    {% else %}
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}" alt=""></div>
                    {% endif %}
					<div style="flex:2"><p>{{ item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.price|floatformat:2}} лв.</p></div>
					<div style="flex:1"><p>x {{ item.quantity }}</p></div>
				</div>
                {% endfor %}


				<h5>Items: {{ order.cart_total_items_count }}</h5>
				<h5>Total: {{order.cart_total_sum|floatformat:2}} лв.</h5>

			</div>
		</div>
	</div>
{% endblock %}
