{% extends 'main.html' %}
{% block content %}


<div class="container mb-5 mt-5">
    <div class="jumbotron">
        <img style="width: 100%"
             src="https://peaceinsight.s3.amazonaws.com/media/images/OUT_NOW_2.2e16d0ba.fill-1440x500.png"
             alt="image not found">
        <div class="position-sticky">
            <h1 class="display-4">THANK YOU</h1>
            <p class="lead">We've received your order</p>
            <hr>
            <div class="row col-lg-6">

                <!-- Button to show when profile is NOT created -->
                <a href="{% url 'store' %}" class="btn btn-lg btn-secondary">Back to store</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}