{% extends 'main.html' %}
{% load static %}
{% block content %}

	<div class="row">
        {% for product in products %}

		<div class="col-lg-4">
            {% if product.image %}
			    <img class="thumbnail"  src="{{product.image.url}}" alt="No image available">
            {% else %}
	            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="No image available">
            {% endif %}
			<div class="box-element product">
				<h6><strong>{{ product.name }}</strong></h6>
				<hr>

				<button data-product={{ product.id }} data-type={{ product.in_stock  }} data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-secondary" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>{{product.price|floatformat:2}} лв.</strong></h4>
			</div>
		</div>

        {% endfor %}
	</div>

    <script type="text/javascript" src="{% static 'js/updateItem.js' %}"></script>
{% endblock %}

